<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Acerca de</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
  </head>
  <body>
    <section>
      <div class="circle"></div>
      <header>
        <img
          src="{{url_for('static',filename='src/logo_vermelho.png')}}"
          alt="Logo"
          class="logo"
          onclick="inicio()"
        />
        <nav class="navegation">
          <ul>
            <li><div onclick="inicio()">Inicio</div></li>
            <li><div onclick="login()">Login</div></li>
            <li><div onclick="about()">Acerca de</div></li>
          </ul>
        </nav>
      </header>
      <img src="{{url_for('static',filename='src/logo_vermelho.png')}}" alt="Logo" class="logo-about" />
      <div class="texto-about">
        <h1>Nuestro proyecto</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error ipsum
          adipisci cumque, reiciendis optio eveniet dolore quos temporibus! Sed
          quam quaerat quia labore. Eligendi, numquam autem nostrum natus porro
          suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Nesciunt fuga tempore, dolore accusamus veritatis ea? Explicabo magnam
          blanditiis accusamus officiis earum odit, laudantium numquam nulla ab.
          Ab labore error in. Lorem ipsum dolor sit amet consectetur,
          adipisicing elit. Delectus alias nihil soluta quidem voluptas minus,
          totam necessitatibus quas aliquid et dignissimos aliquam dolorem
          voluptatum cumque iusto quam voluptatem quae eligendi.
        </p>
        <h5>Desenvolvido por Ramon Guabiraba</h5>
        <h6>Versión 1.0</h6>
      </div>
    </section>
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
  </body>
</html>
