<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
  </head>
  <body>
    <section>
      <div class="circle"></div>
      <header>
        <img src="{{url_for('static',filename='src/logo_vermelho.png')}}" alt="Logo" class="logo" onclick="inicio()"/>
        <nav class="navegation">
          <!--Menu Hamburguesa-->
          <span id="caja-menu">
            <div class="container-menu" id="menu" onclick="abrirMenu()">
              <div id="bar1" class="bar1"></div>
              <div id="bar2" class="bar2"></div>
              <div id="bar3" class="bar3"></div>
            </div>
          </span>
          <!-- Overlay cuando el menu esta activado-->
          <div id="myNav" class="overlay">
            <div class="overlay-content">
              <ul id="menu-inside">
                <li><div id="menu_inside_inicio" onclick="inicio()">开始</div></li>
                <li><div id="menu_inside_login" onclick="login()">登录</div></li>
                <li><div id="menu_inside_about" onclick="about()">关于</a></li>
                <li id="info"><div id="menu_inside_datos" onclick="userinfo()">用户数据</a></li>
                <li id="reset"><div id="menu_inside_pass" onclick="resetpass()">更改密码</a></li>
                <li id="delete"><div id="menu_inside_delete" onclick="deleteuser()">出去</a></li>
              </ul>
            </div>
          </div>
          <ul id="menu-outside">
            <li><div id="menu_outside_inicio" onclick="inicio()">开始</div></li>
            <li><div id="menu_outside_login" onclick="login()">登录</div></li>
            <li><div id="menu_outside_about" onclick="about()">关于</a></li>
            <li id="logon">
              <div id="dropdown">
                <img
                  id="dropimage"
                  src="{{url_for('static',filename='src/login.jpg')}}"
                  alt="icon_login"
                />
                <div id="dropdown-content">
                  <a id="menu_outside_datos" onclick="userinfo()">用户数据</a>
                  <a id="menu_outside_pass" onclick="resetpass()">更改密码</a>
                  <a id="menu_outside_delete" onclick="deleteuser()">出去</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <form id="form" method="POST" action="/enviarDatosPeli">
        <div id="part1" class="part-form-top">
          <label id="form_Label_name" for="name">你的名字</label> <br />
          <input type="text" name="nombre" id="name" class="name" required />
          <div class="button">
            <a class="button-next" href="#part2">下面</a>
          </div>
        </div>
        <div id="part2" class="part-form reveal">
          <label id="form_Label_motivo" for="motivo">你为什么喜欢看电影？</label> <br />
          <input type="text" name="motivo" id="motivo" required />
          <div class="button">
            <a class="button-previous" href="#part1">后面</a>
            <a class="button-next" href="#part3">下面</a>
          </div>
        </div>
        <div id="part3" class="part-form reveal">
          <label id="form_label_edad" for="edad">你多大年纪了?</label> <br />
          <input type="date" name="edad" id="edad" required />
          <div class="button">
            <a class="button-previous" href="#part2">后面</a>
            <a class="button-next" href="#part4">下面</a>
          </div>
        </div>
        <div id="part4" class="part-form reveal">
          <label id="form_label_generos" for="generos">选择你最喜欢的电影类型</label>
          <br />
          <div>
            <select id="generos_list" name="genero" form="form">
              <option value="accion">行动</option>
              <option value="aventura">冒险</option>
              <option value="comedia">喜剧</option>
              <option value="crime">犯罪</option>
              <option value="drama">戏剧</option>
              <option value="familia">家庭</option>
              <option value="fantasia">想要</option>
              <option value="historia">历史</option>
              <option value="horror">恐怖</option>
              <option value="musica">音乐</option>
              <option value="misterio">神秘</option>
              <option value="romance">浪漫</option>
            </select>
          </div>
          <div class="button">
            <a class="button-previous" href="#part3">后面</a>
            <a class="button-next" href="#part5">下面</a>
          </div>
        </div>
        <div id="part5" class="part-form reveal">
          <label id="form_label_comentario" for="comentario">你想添加评论吗？</label>
          <br />
          <textarea
            name="comentario"
            id="descripcion"
            cols="30"
            rows="10"
          ></textarea>
          <div class="button">
            <a class="button-previous" href="#part4">后面</a>
            <div class="button-submit">
              <input type="submit" id="altagenero" name="enviar" value="发送" />
            </div>
          </div>
        </div>
      </form>
    </section>
    
    <!--Inputs para los datos que llegan desde el flask-->
    <input type="hidden" name="user" id="user" value="{{ user }}" />
    <input type="hidden" name="email" id="email" value="{{ email }}" />
    <input type="hidden" name="iduser" id="iduser" value="{{ id }}" />

    <!--Script de la pagina-->
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='js/form.js')}}"></script>
    <script src="{{url_for('static',filename='js/altagenero.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/cookies.js')}}"></script>
    <script src="{{url_for('static',filename='traduccion/formtraduccion.js')}}"></script>
  </body>
</html>
