<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
  </head>
  <body>
    <section>
      <div class="circle"></div>
      <header>
        <img src="{{url_for('static',filename='src/logo_vermelho.png')}}" alt="Logo" class="logo" onclick="inicio()"/>
        <nav class="navegation">
          <ul>
            <li><div onclick="inicio()">Inicio</div></li>
            <li><div onclick="login()">Login</div></li>
            <li><div onclick="about()">Acerca de</div></li>
          </ul>
        </nav>
      </header>
      <form action="/enviarDatosPeli" method="POST" id="form">
        <div id="part1" class="part-form-top">
          <label for="name">¿Tu nombre?</label> <br />
          <input type="text" name="nombre" id="name" class="name" required />
          <div class="button">
            <a href="#part2">SIGUIENTE</a>
          </div>
        </div>
        <div id="part2" class="part-form reveal">
          <label for="mail">¿Tu correo electrónico?</label> <br />
          <input type="email" name="correo" id="mail" required />
          <div class="button">
            <a href="#part1">VOLVER</a>
            <a href="#part3">SIGUIENTE</a>
          </div>
        </div>
        <div id="part3" class="part-form reveal">
          <label for="edad">¿Tu edad?</label> <br />
          <input type="date" name="edad" id="edad" required />
          <div class="button">
            <a href="#part2">VOLVER</a>
            <a href="#part4">SIGUIENTE</a>
          </div>
        </div>
        <div id="part4" class="part-form reveal">
          <label for="generos">Seleccione el genero que más te gusta</label>
          <br />
          <div>
            <select id="generos_list" name="genero" form="form">
              <option value="accion">Acción</option>
              <option value="aventura">Aventura</option>
              <option value="comedia">Comedia</option>
              <option value="drama">Drama</option>
              <option value="suspense">Suspense</option>
              <option value="comedia_romantica">Comedia Romantica</option>
              <option value="musical">Musical</option>
            </select>
          </div>
          <div class="button">
            <a href="#part3">VOLVER</a>
            <a href="#part5">SIGUIENTE</a>
          </div>
        </div>
        <div id="part5" class="part-form reveal">
          <label for="comentario"> ¿Quieres añadir algún comentario?</label>
          <br />
          <textarea
            name="comentario"
            id="descripcion"
            cols="30"
            rows="10"
          ></textarea>
          <div class="button">
            <a href="#part4">VOLVER</a>
            <div class="button-submit">
              <input type="submit" name="enviar" value="Enviar" />
            </div>
          </div>
        </div>
      </form>
    </section>
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='js/form.js')}}"></script>
  </body>
</html>
