<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
  </head>
  <body>
    <div class="section">
      <div class="circle"></div>
      <header>
        <img src="{{url_for('static',filename='src/logo_vermelho.png')}}" alt="Logo" class="logo" onclick="inicio()">
        <nav class="navegation">
          <ul>
            <li><div onclick="inicio()">Inicio</div></li>
            <li><div onclick="login()">Login</div></li>
            <li><div onclick="about()">Acerca de</a></li>
          </ul>
        </nav>
      </header>
      <div class="container">
        <div class="text">
          <h2>
            ¡Justo lo que <br />
            <span>ME GUSTA!</span>
          </h2>
          <p>
            ¿Quieres saber cómo encontrar tu película perfecta? ¿Qué
            te parece si te paso un listado? ¡Complete el formulario y reciba
            una muestra gratis!<p>
              <div onclick="form()">COMENZAR</div>
          </p>
        </div>
      </div>
      <ul class="icons">
        <li>
          <a href="#"
            ><img src="{{url_for('static',filename='src/facebook.png')}}" alt="icons" width="24px"
          /></a>
        </li>
        <li>
          <a href="#"><img src="{{url_for('static',filename='src/twitter.png')}}" alt="icons" width="24px" /></a>
        </li>
        <li>
          <a href="#"
            ><img src="{{url_for('static',filename='src/instagram.png')}}" alt="icons" width="24px"
          /></a>
        </li>
      </ul>
      <div class="boxImg">
        <img src="{{url_for('static',filename='src/palomitas.png')}}" alt="Palomitas" class="img1">
      </div>
    </div>
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
  </body>
</html>
