<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <title>Login</title>
  </head>
  <body>
    <section>
      <header>
        <img
          src="{{url_for('static',filename='src/logo_vermelho.png')}}"
          alt="Logo"
          class="logo"
          onclick="inicio()"
        />
        <nav class="navegation">
          <!--Menu Hamburguesa-->
          <span id="caja-menu">
            <div class="container-menu" id="menu" onclick="abrirMenu()">
              <div id="bar1" class="bar1"></div>
              <div id="bar2" class="bar2"></div>
              <div id="bar3" class="bar3"></div>
            </div>
          </span>
          <!-- Overlay cuando el menu esta activado-->
          <div id="myNav" class="overlay">
            <div class="overlay-content">
              <ul id="menu-inside">
                <li><div id="menu_inside_inicio" onclick="inicio()">开始</div></li>
                <li><div id="menu_inside_login" onclick="login()">登录</div></li>
                <li><div id="menu_inside_about" onclick="about()">关于</a></li>
                <li id="info"><div id="menu_inside_datos" onclick="userinfo()">用户数据</a></li>
                <li id="reset"><div id="menu_inside_pass" onclick="resetpass()">更改密码</a></li>
                <li id="delete"><div id="menu_inside_delete" onclick="deleteuser()">出去</a></li>
              </ul>
            </div>
          </div>
          <ul id="menu-outside">
            <li><div id="menu_outside_inicio" onclick="inicio()">开始</div></li>
            <li><div id="menu_outside_login" onclick="login()">登录</div></li>
            <li><div id="menu_outside_about" onclick="about()">关于</a></li>
            <li id="logon">
              <div id="dropdown">
                <img
                  id="dropimage"
                  src="{{url_for('static',filename='src/login.jpg')}}"
                  alt="icon_login"
                />
                <div id="dropdown-content">
                  <a id="menu_outside_datos" onclick="userinfo()">用户数据</a>
                  <a id="menu_outside_pass" onclick="resetpass()">更改密码</a>
                  <a id="menu_outside_delete" onclick="deleteuser()">出去</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <div class="formulario-login">
        <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true" />
          <div class="signup">
            <form action="/registrarUsuario" method="POST" class="form-register">
              <label for="chk" aria-hidden="true" class="label-login" id="label-registro"
                >报到</label
              >
              <input
                type="text"
                id="usuario"
                name="usuario"
                placeholder="用户名"
                required
                class="input-login"
              />
              <input
                type="email"
                id="email"
                name="email"
                placeholder="电子邮件"
                required
                class="input-login"
              />
              <input
                type="text"
                id="contrasenya"
                name="contrasenya"
                placeholder="密码"
                required
                class="input-login"
              />
              <input type="submit" id="altausuario" value="连接" class="button-register">
            </form> 
          </div>

          <div class="login">
            <form action="/loginUsuario" method="POST" class="form-login">
              <label for="chk" aria-hidden="true" class="label-login" id="label-login"
                >登录</label
              >
              <input
                type="email"
                id="emailLogin"
                name="emailLogin"
                placeholder="电子邮件"
                required
                class="input-login"
              />
              <input
                type="password"
                id="passwordLogin"
                name="passwordLogin"
                placeholder="密码"
                required
                class="input-login"
              />
              <input type="submit" value="连接" class="button-login" id="button-login" onclick="validacionUsuario()">
            </form>
          </div>
        </div>
      </div>
    </section>
    
    <!--Inputs para los datos que llegan desde el flask-->
    <input type="hidden" name="alert" id="alert" value="{{ data }}" />
    <input type="hidden" name="user" id="user" value="{{ user }}" />
    <input type="hidden" name="email" id="email" value="{{ email }}" />

    <!--Script de la pagina-->
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='js/altausuario.js')}}"></script>
    <script src="{{url_for('static',filename='js/validacionusuario.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/cookies.js')}}"></script>
    <script src="{{url_for('static',filename='traduccion/logintraduccion.js')}}"></script>
  </body>
</html>
