<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />
    <title>Login</title>
  </head>
  <body>
    <section>
      <header>
        <img
          src="{{url_for('static',filename='src/logo_vermelho.png')}}"
          alt="Logo"
          class="logo"
          onclick="inicio()"
        />
        <nav class="navegation">
          <ul>
            <li><div onclick="inicio()">Inicio</div></li>
            <li><div onclick="login()">Login</div></li>
            <li><div onclick="about()">Acerca de</div></li>
            <li id="logon">
              <div id="dropdown">
                <img
                  id="dropimage"
                  src="{{url_for('static',filename='src/login.jpg')}}"
                  alt="icon_login"
                />
                <div id="dropdown-content">
                  <a onclick="userinfo()">Datos Usuario</a>
                  <a onclick="resetpass()">Cambiar Contraseña</a>
                  <a onclick="deleteuser()">Salir</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <div class="formulario-login">
        <div class="main">
          <input type="checkbox" id="chk" aria-hidden="true" />
          <div class="signup">
            <form action="/registrarUsuario" method="POST" class="form-register">
              <label for="chk" aria-hidden="true" class="label-login"
                >Registrarse</label
              >
              <input
                type="text"
                id="usuario"
                name="usuario"
                placeholder="Nombre de Usuario"
                required
                class="input-login"
              />
              <input
                type="email"
                id="email"
                name="email"
                placeholder="Correo Electrónico"
                required
                class="input-login"
              />
              <input
                type="text"
                id="contrasenya"
                name="contrasenya"
                placeholder="Contraseña"
                required
                class="input-login"
              />
              <input type="submit" id="altausuario" value="Entrar" class="button-register">
            </form> 
          </div>

          <div class="login">
            <form action="/loginUsuario" method="POST" class="form-login">
              <label for="chk" aria-hidden="true" class="label-login"
                >Login</label
              >
              <input
                type="email"
                id="emailLogin"
                name="emailLogin"
                placeholder="Correo Electrónico"
                required
                class="input-login"
              />
              <input
                type="password"
                id="passwordLogin"
                name="passwordLogin"
                placeholder="Contraseña"
                required
                class="input-login"
              />
              <input type="submit" value="Entrar" class="button-login" onclick="validacionUsuario()">
            </form>
          </div>
        </div>
      </div>
    </section>
    
    <!--Inputs para los datos que llegan desde el flask-->
    <input type="hidden" name="alert" id="alert" value="{{ data }}" />
    <input type="hidden" name="user" id="user" value="{{ user }}" />
    <input type="hidden" name="email" id="email" value="{{ email }}" />

    <!--Script de la pagina-->
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='js/altausuario.js')}}"></script>
    <script src="{{url_for('static',filename='js/validacionusuario.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/cookies.js')}}"></script>
  </body>
</html>
