<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <title>Reset Password</title>
  </head>
  <body>
    <section>
      <div class="circle"></div>
      <header>
        <img
          src="{{url_for('static',filename='src/logo_vermelho.png')}}"
          alt="Logo"
          class="logo"
          onclick="inicio()"
        />
        <nav class="navegation">
          <ul>
            <li><div onclick="inicio()">Inicio</div></li>
            <li><div onclick="login()">Login</div></li>
            <li><div onclick="about()">Acerca de</div></li>
            <li id="logon">
              <div id="dropdown">
                <img
                  id="dropimage"
                  src="{{url_for('static',filename='src/login.jpg')}}"
                  alt="icon_login"
                />
                <div id="dropdown-content">
                  <a onclick="userinfo()">Datos Usuario</a>
                  <a onclick="resetpass()">Cambiar Contraseña</a>
                  <a onclick="deleteuser()">Salir</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <form id="form" method="POST" action="/cambiarPassword">
          <div id="part1" class="part-form-top">
            <label for="nueva_contrasenya">Tu nueva contraseña</label> <br />
            <input type="text" name="nueva_contrasenya" id="nueva_contrasenya" class="name" required />
            <div class="button">
              <a href="#part2">SIGUIENTE</a>
            </div>
          </div>
          <div id="part2" class="part-form reveal">
            <label for="confirm_contrasenya">Confirme la contraseña</label> <br />
            <input type="text" name="confirm_contrasenya" id="confirm_contrasenya" required />
            <div class="button">
              <a href="#part1">VOLVER</a>
              <div class="button-submit">
                <input type="hidden" name="iduser" id="iduser" value="" />
                <input type="submit" id="confirmarcontrasenya" name="confirmarcontrasenya" value="Enviar" />
              </div>
            </div>
          </div>
        </form>
      </main>
    </section>
    
    <!--Inputs para los datos que llegan desde el flask-->
    <input type="hidden" name="alert" id="alert" value="{{ data }}" />
    <input type="hidden" name="user" id="user" value="{{ user }}" />
    <input type="hidden" name="email" id="email" value="{{ email }}" />

    <!--Script de la pagina-->
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/form.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/cookies.js')}}"></script>
    <script src="{{url_for('static',filename='js/confirmarpass.js')}}"></script>
  </body>
</html>
