<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <title>Reset Password</title>
  </head>
  <body>
    <section>
      <div class="circle"></div>
      <header>
        <img
          src="{{url_for('static',filename='src/logo_vermelho.png')}}"
          alt="Logo"
          class="logo"
          onclick="inicio()"
        />
        <nav class="navegation">
          <!--Menu Hamburguesa-->
          <span id="caja-menu">
            <div class="container-menu" id="menu" onclick="abrirMenu()">
              <div id="bar1" class="bar1"></div>
              <div id="bar2" class="bar2"></div>
              <div id="bar3" class="bar3"></div>
            </div>
          </span>
          <!-- Overlay cuando el menu esta activado-->
          <div id="myNav" class="overlay">
            <div class="overlay-content">
              <ul id="menu-inside">
                <li><div id="menu_inside_inicio" onclick="inicio()">开始</div></li>
                <li><div id="menu_inside_login" onclick="login()">登录</div></li>
                <li><div id="menu_inside_about" onclick="about()">关于</a></li>
                <li id="info"><div id="menu_inside_datos" onclick="userinfo()">用户数据</a></li>
                <li id="reset"><div id="menu_inside_pass" onclick="resetpass()">更改密码</a></li>
                <li id="delete"><div id="menu_inside_delete" onclick="deleteuser()">出去</a></li>
              </ul>
            </div>
          </div>
          <ul id="menu-outside">
            <li><div id="menu_outside_inicio" onclick="inicio()">开始</div></li>
            <li><div id="menu_outside_login" onclick="login()">登录</div></li>
            <li><div id="menu_outside_about" onclick="about()">关于</a></li>
            <li id="logon">
              <div id="dropdown">
                <img
                  id="dropimage"
                  src="{{url_for('static',filename='src/login.jpg')}}"
                  alt="icon_login"
                />
                <div id="dropdown-content">
                  <a id="menu_outside_datos" onclick="userinfo()">用户数据</a>
                  <a id="menu_outside_pass" onclick="resetpass()">更改密码</a>
                  <a id="menu_outside_delete" onclick="deleteuser()">出去</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <form id="form" method="POST" action="/cambiarPassword">
          <div id="part1" class="part-form-top">
            <label id="reset_label_pass" for="nueva_contrasenya">你的新密码</label> <br />
            <input type="text" name="nueva_contrasenya" id="nueva_contrasenya" class="name" required />
            <div class="button">
              <a id="button_next" href="#part2">下面</a>
            </div>
          </div>
          <div id="part2" class="part-form reveal">
            <label id="reset_label_repass" for="confirm_contrasenya">确认密码</label> <br />
            <input type="text" name="confirm_contrasenya" id="confirm_contrasenya" required />
            <div class="button">
              <a id="button_previous" href="#part1">后面</a>
              <div class="button-submit">
                <input type="hidden" name="iduser" id="iduser" value="" />
                <input type="submit" id="confirmarcontrasenya" name="confirmarcontrasenya" value="ENVIAR" />
              </div>
            </div>
          </div>
        </form>
      </main>
    </section>
    
    <!--Inputs para los datos que llegan desde el flask-->
    <input type="hidden" name="alert" id="alert" value="{{ data }}" />
    <input type="hidden" name="user" id="user" value="{{ user }}" />
    <input type="hidden" name="email" id="email" value="{{ email }}" />

    <!--Script de la pagina-->
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/form.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/cookies.js')}}"></script>
    <script src="{{url_for('static',filename='js/confirmarpass.js')}}"></script>
    <script src="{{url_for('static',filename='traduccion/resettraduccion.js')}}"></script>
  </body>
</html>
