<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{url_for('static',filename='css/style.css')}}"
    />
    <title>User Info</title>
  </head>
  <body>
    <section>
      <div class="circle"></div>
      <header>
        <img
          src="{{url_for('static',filename='src/logo_vermelho.png')}}"
          alt="Logo"
          class="logo"
          onclick="inicio()"
        />
        <nav class="navegation">
          <!--Menu Hamburguesa-->
          <span id="caja-menu">
            <div class="container-menu" id="menu" onclick="abrirMenu()">
              <div id="bar1" class="bar1"></div>
              <div id="bar2" class="bar2"></div>
              <div id="bar3" class="bar3"></div>
            </div>
          </span>
          <!-- Overlay cuando el menu esta activado-->
          <div id="myNav" class="overlay">
            <div class="overlay-content">
              <ul id="menu-inside">
                <li><div id="menu_inside_inicio" onclick="inicio()">开始</div></li>
                <li><div id="menu_inside_login" onclick="login()">登录</div></li>
                <li><div id="menu_inside_about" onclick="about()">关于</a></li>
                <li id="info"><div id="menu_inside_datos" onclick="userinfo()">用户数据</a></li>
                <li id="reset"><div id="menu_inside_pass" onclick="resetpass()">更改密码</a></li>
                <li id="delete"><div id="menu_inside_delete" onclick="deleteuser()">出去</a></li>
              </ul>
            </div>
          </div>
          <ul id="menu-outside">
            <li><div id="menu_outside_inicio" onclick="inicio()">开始</div></li>
            <li><div id="menu_outside_login" onclick="login()">登录</div></li>
            <li><div id="menu_outside_about" onclick="about()">关于</a></li>
            <li id="logon">
              <div id="dropdown">
                <img
                  id="dropimage"
                  src="{{url_for('static',filename='src/login.jpg')}}"
                  alt="icon_login"
                />
                <div id="dropdown-content">
                  <a id="menu_outside_datos" onclick="userinfo()">用户数据</a>
                  <a id="menu_outside_pass" onclick="resetpass()">更改密码</a>
                  <a id="menu_outside_delete" onclick="deleteuser()">出去</a>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </header>
      <main>
        <div class="info">
          <h2 id="info_name">用户名</h2>
          <p id="cookieuser"></p>
        </div>
        <div class="info">
          <h2 id="info_correo">邮件</h2>
          <p id="cookieemail"></p>
        </div>
        <form action="/formulario" method="POST">
          <input type="submit" id="button-pass" value="新名单" />
        </form>
      </main>
    </section>

    <!--Inputs para los datos que llegan desde el flask-->
    <input type="hidden" name="user" id="user" value="{{ user }}" />
    <input type="hidden" name="email" id="email" value="{{ email }}" />

    <!--Script de la pagina-->
    <script src="{{url_for('static',filename='js/menu.js')}}"></script>
    <script src="{{url_for('static',filename='js/login.js')}}"></script>
    <script src="{{url_for('static',filename='js/cookies.js')}}"></script>
    <script src="{{url_for('static',filename='js/cookieinfo.js')}}"></script>
    <script src="{{url_for('static',filename='traduccion/userinfotraduccion.js')}}"></script>
  </body>
</html>
